# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.Python

# Environment
.env
.env.*
!.env.example

# Docker
docker-compose.override.yml
*.pid

*.log

# Sublime
*.sublime-project
*.sublime-workspace

# Other
.venv/

logs/
storage/

!backend/src/**/storage/
