services:
  postgres:
    image: postgres:16.2
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USER} -d ${DATABASE_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  redis:
    image: redis:alpine
    restart: unless-stopped
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  backend:
    restart: unless-stopped
    build:
      context: backend
      dockerfile: Dockerfile
    env_file:
      - .env
      - backend/.env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend_forum.rule=Host(`${BACKEND_DOMAIN}`)"
      - "traefik.http.routers.backend_forum.entrypoints=websecure"
      - "traefik.http.routers.backend_forum.tls=true"
      - "traefik.http.routers.backend_forum.tls.certresolver=myresolver"
      - "traefik.http.services.backend_forum.loadbalancer.server.port=${BACKEND_PORT}"
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://backend:${BACKEND_PORT}/health/"]
    #   interval: 15s
    #   timeout: 15s
    #   retries: 3
    #   start_period: 30s
    volumes:
      - ./backend/alembic/versions:/app/alembic/versions
      - ./backend/storage:/app/storage
      - ./backend/logs:/app/logs
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - app-network
      - web

volumes:
  postgres_data:
  redis_data:

networks:
  app-network:
    driver: bridge
  web:
    external: ${WEB_NETWORK_EXTERNAL:-false}
