services:
  backend:
    restart: unless-stopped
    build:
      context: ./backend
      dockerfile: Dockerfile
    labels:
      - "traefik.enable=${TRAEFIK_ENABLE}"
      - "traefik.http.routers.backend_forum.rule=Host(`${BACKEND_DOMAIN}`)"
      - "traefik.http.routers.backend_forum.entrypoints=websecure"
      - "traefik.http.routers.backend_forum.tls=true"
      - "traefik.http.routers.backend_forum.tls.certresolver=myresolver"
      - "traefik.http.services.backend_forum.loadbalancer.server.port=${BACKEND_PORT}"
    env_file:
      - ./.deployment/prod/.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://backend:${BACKEND_PORT}/health/"]
      interval: 15s
      timeout: 15s
      retries: 3
      start_period: 30s
    volumes:
      # - ./backend:/app
      # - ./celery_app:/app/celery_app
      - ./infrastructure:/app/infrastructure
      - ./logs:/app/logs
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - app-network
      - web

  postgres:
    image: postgres:16.2
    restart: unless-stopped
    env_file:
      - ./.deployment/prod/.env
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USER} -d ${DATABASE_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network
    labels:
      - "traefik.enable=false"

  redis:
    image: redis:alpine
    restart: unless-stopped
    volumes:
      - redis_data:/data
    # healthcheck:
    #   test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
    #   interval: 5s
    #   timeout: 5s
    #   retries: 5
    networks:
      - app-network
    labels:
      - "traefik.enable=false"

  # Сервис для инициализации БД
  db-init:
    build:
      context: .
      dockerfile: infrastructure/database/Dockerfile
    env_file:
      - ./.deployment/prod/.env
    environment:
      DATABASE_URL: postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@postgres:${DATABASE_PORT}/${DATABASE_NAME}
      PYTHONPATH: /app
    depends_on:
      postgres:
        condition: service_healthy
    profiles:
      - init
    networks:
      - app-network

volumes:
  postgres_data:
  redis_data:

networks:
  app-network:
    driver: bridge
  web:
    external: true
